<section id="image-entete" class="pure-u-1"> </section>

<section id="main">
    <section id="abonnements-disponibles" class="pure-g">
        <h2 class="pure-u-1">Abonnements</h2>

        <div id="abonnement-occasionnel" class="pure-u-1 pure-u-lg-1-3 forfait forfait-petit">
            <div class="contenu-forfait">
                <h2>Artiste<br>Occasionnel</h2>
            </div>
        </div>
        <div id="abonnement-regulier" class="pure-u-1 pure-u-lg-1-3 forfait forfait-grand">
            <div class="contenu-forfait">
                <h2>Artiste<br>Régulier</h2>
            </div>
        </div>
        <div id="abonnement-entreprise" class="pure-u-1 pure-u-lg-1-3 forfait forfait-petit">
            <div class="contenu-forfait">
                <h2>Entreprise</h2>
            </div>
        </div>

        <% if false %>
            <%= render 'form', user: @user %>
            <%= link_to 'Back', users_path %>
        <% end %>
    </section>
</section>
