@import "font-awesome"; 
@import "variables"; 

#creativite {
    text-align: center;

    h2 {
        text-transform: uppercase;
        vertical-align: middle;
        line-height: $hauteur-image-entete;
        font-size: 2.1em;
    }

    height: $hauteur-image-entete;
    background-image: asset-url('backdrop');
    background-size: cover;
}

a {
    color: $accent;
}

#description-irisium {
    text-align: center;
    padding: $padding-section;
    margin: 30px 0;

    h3 {
        font-family: montserrat-reg;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    p {
        padding: 0 25%;
        font-size: 0.95em;
        font-family: montserrat-extra-light;
    }

    .lien {
        font-size: 0.95em;
        font-family: 'montserrat-semi-bold';
        text-transform: uppercase;
        text-decoration: underline;
    }
}

#mission {
    background-color: $gris;
    text-align: center;
    padding: $padding-section;
    
    .titre-section {
        margin: 30px;
        margin-bottom: 50px;
        color: $accent;

        span {
            text-transform: uppercase;
            padding: 5px 30px;
            border: 2px solid rgb(200, 200, 200);
            font-family: montserrat-semi-bold;
        }
    }

    .image-mission {
        padding: 5px;
        width: 40px;
        border: 2px solid $accent;
        border-radius: 50px;
    }

    p {
        font-size: 0.90em;
        font-family: montserrat-extra-light;
        padding: 0 25%;
    }
}

#inscrivez-vous-maintenant , #autres-questions{
    text-align: center;
    padding: $padding-section;

    h3 {
        font-weight: normal;
        font-family: montserrat-extra-light;
        font-size: 1.5em;
    }
}

#inscrivez-vous-maintenant {
    padding-bottom: 5px;
}
#evenements-futurs {
    height: 500px;
    text-transform: uppercase;

    h2 {
        color: white;
        text-shadow: 1px 1px $noir;
        padding-top: 190px;
        text-align: center;
        font-size: 3.5em;
    }

    p {
        text-align: right;
        margin: 0;
        padding: 80px 20px;

        a {
            color: white;
            text-shadow: 1px 1px $noir;
            background-color: transparent;

        }
    }
}

/***************************/

#formulaire-contact {

    h1 {
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    label{
        font-family: montserrat-reg;
        letter-spacing: 2px;
    }

    padding: 15px 5%;
    margin: 20px auto;
    background-color: $gris;

    button[type=submit] {
        display: block;
        margin: 20px auto;
        margin-bottom: 10px;

        border-radius: 15px;
        width: 100px;
        background-color: $accent;
    }
}

/***************************/


#questions-reponses {
    width: 80%;
    padding: 35px 10%;

	h2 {
		letter-spacing: 2px;
	}
}

#autres-questions {
    background-color: $gris;
}

#accordion {

    h3 {
        border-bottom: 3px solid $gris;
        padding-bottom: 5px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.95em;
    }

    .icon-accordeon {
        float: right;
    }
}

/***************************/


#details-inscription {
    font-family: montserrat-light;
    padding: 20px;

    h1 {
        margin-top: 50px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    h2 {
        margin-bottom: 0px;
    }

    .avantages {

        ul {
            padding: 0px;
            list-style-type: none;
        }

        li {
            line-height: 25px;
            font-family: montserrat-light;
            padding-left: 5px;

            .partenaire {
                padding: 3px 10px;
                margin: 5px;
                border: 1px solid $gris-fonce;
            }
        }

        li::before {
            line-height: 25px;
            content: "x";

            vertical-align: top;

            padding-right: 10px;
        }
    }

}

#abonnements-disponibles {
    padding: $padding-section;
    margin: 20px;
}

.container-banniere {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 33%;
}

#abonnement-occasionnel {
    overflow: hidden;
    position: relative;

    #banniere-occasionnel {
        transform: translate(-33%, 33%) rotate(-45deg);
    }
    
    #occasionnel-etoile-1 {
       transform: translate(-10%, 50%) rotate(40deg);
    }

}

#abonnement-regulier {
    overflow: hidden;
    position: relative;

    #banniere-regulier {
        transform: translate(-33%, 33%) rotate(-45deg);
    }

    #regulier-etoile-1 {
       transform: translate(-10%, 50%) rotate(40deg);
    }
    #regulier-etoile-2 {
       transform: translate(10%, 50%) rotate(40deg);
    }
}

#abonnement-entreprise {
    overflow: hidden;
    position: relative;

    .container-banniere {
        left: initial;
        right: 0px;
    }

    #banniere-entreprise {
        transform: translate(0%, 33%) rotate(45deg);
    }
    
    #entreprise-etoile-1 {
       transform: translate(10%, 50%) rotate(40deg);
    }
}

.forfait {
    height: inherit;
    text-align: center;
    box-shadow: $box-shadow;

    h2 {
        margin: 0;
    }
}

.contenu-forfait {
    padding: 10% 20px;
    padding-bottom: 5%;

    h2 {
        text-transform: uppercase;
    }
}

.forfait-grand {
    height: 400px;
}

.forfait-petit {
    margin-top: 50px;
    height: 300px;
    background-color: $gris;
}

.forfait-spacer {
    width: 15%;
    margin: 10px auto;
    height: 2px;
    background-color: $gris-fonce;
}

.forfait-prix {
    font-size: 2.5em;
    font-family: montserrat-bold;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
}

.forfait-prix-unite {
    font-size: 0.7em;
    font-family: montserrat-light;
}

.forfait-note {
    font-size: 0.8em;
    text-align: center;
}

.banniere {
    height: 40px;
    width: 150%;
    background-color: $accent;
}

#details-abonnement-regulier {
    position: relative;
    border: 2px solid black;
    margin: 45px auto;
    width: 75%;

    #gain-abonnement-regulier {
        position: absolute;
        top: -10px;
        width: 100%;
        text-align: center;
        span {
            font-family: montserrat-bold;
            background-color: white;
            padding: 0 10px;
        }
    }
    p {
        padding: 10px;
        font-size: 0.7em;
        font-family: montserrat-light;
    }
}
