/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require purecss
 *
 */

@font-face {  
    font-family: 'montserrat-extra-light';  
    src: asset-url('montserrat/Montserrat-ExtraLight.otf'); 
}

@font-face {  
    font-family: montserrat-light;  
    src: asset-url('montserrat/Montserrat-Light.otf'); 
}

@font-face {  
    font-family: montserrat-reg;  
    src: asset-url('montserrat/Montserrat-Regular.otf');
}

@font-face {  
    font-family: montserrat-medium;  
    src: asset-url('montserrat/Montserrat-Medium.otf'); 
}

@font-face {  
    font-family: 'montserrat-semi-bold';  
    src: asset-url('montserrat/Montserrat-SemiBold.otf'); 
}

@font-face {  
    font-family: 'montserrat-bold';  
    src: asset-url('montserrat/Montserrat-Bold.otf');
}

@import "font-awesome";
@import "variables";

body {
    background-color: white;
    margin-top: -16px;
    font-family: montserrat-reg;
}

#container-menu {
    padding: 5px 5%;
}

#menu-responsive {
    float: right;
    display: none;
}

@media (max-width: 850px) {

    header ul {
        display: none;
    }
    
    #menu-responsive {
        display: block;
    }

    #menu-responsive:active ~ ul, #menu-responsive:hover ~ ul, ul:hover {
        margin: 0px;
        padding: 0px;

        background-color: $noir;
        width: 120%;
        margin-left: -10%;
        display: block;

        .liste-horizontale-item {
            text-align: center;
            display: block;
            float: unset;
            clear: both;

            padding: 5px 10px !important;

            background-color: transparent !important;
        }
    }
}

#page-header {
    font-family: montserrat-medium;
    letter-spacing: 2px;
    width: 100%;
    position: fixed;
    background-color: $noir;
    height: 50px;
    z-index: 1;
}

#inscription-header {
    margin-top: -4px;
    padding: 3px 13px;
    border-radius: 15px;
}

#page-header a {
    color: white;
    text-transform: lowercase;
}

.pure-g {
    letter-spacing: initial !important;
}

#footer {
    background-color: $noir;
    color: white;
    padding: 20px 40px;

    p, address {
        font-style: normal;
        font-size: 0.8em; 
        a {
            text-decoration: none;
            color: white;
        }
    }
}

.social-media {
    width: 20px;
}

.titre-section-footer {
    padding-top: 30px;
    letter-spacing: 2px !important;
    font-family: montserrat-bold;
    text-transform: uppercase;
    font-size: 0.95em;
}

#contenu-principal {
    width: 100%;
}

.liste-horizontale {
    list-decoration: none;
}

.liste-horizontale-item {
    display: inline-block;
    float: right;
    margin: 0 10px;
}

a {
    text-decoration: none;
}

#reseaux {
    text-align: right;
    i {
        padding-left: 10px;
        color: white;
    }
}

#main {
    padding: 30px;
    padding-top: 50px;
}

.bg-couleur-accent {
    background-color: $accent !important;
}
