/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require purecss
 *
 */

@import "font-awesome";
@import "variables";

@font-face {  
    font-family: montserrat-extra-light;  
    src: url('/assets/montserrat/Montserrat-ExtraLight.otf'); 
}

@font-face {  
    font-family: montserrat-light;  
    src: url('/assets/montserrat/Montserrat-Light.otf'); 
}

@font-face {  
    font-family: montserrat-reg;  
    src: url('/assets/montserrat/Montserrat-Regular.otf'); 
}

@font-face {  
    font-family: montserrat-medium;  
    src: url('/assets/montserrat/Montserrat-Medium.otf'); 
}

@font-face {  
    font-family: montserrat-semi-bold;  
    src: url('/assets/montserrat/Montserrat-SemiBold.otf'); 
}

@font-face {  
    font-family: montserrat-bold;  
    src: url('/assets/montserrat/Montserrat-Bold.otf'); 
}

body {
    background-color: white;
    margin-top: -16px;
    font-family: montserrat-reg;
}

#page-header {
    background-color: black;
    height: 50px;
    padding: 5px 40px;
}

#page-header a {
    color: white;
    text-transform: lowercase;
}

.pure-g {
    letter-spacing: initial !important;
}

#footer {
    background-color: black;
    color: white;
    padding: 20px 40px;
}

.social-media {
    width: 20px;
}

.titre-section-footer {
    font-family: montserrat-bold;
    text-transform: uppercase;
}

#contenu-principal {
    width: 100%;
}

.citation-majeure::before {
    content: "« ";
}

.citation-majeure::after {
    content: " »";
}

.citation-majeure {
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
    font-style: italic;
}

.liste-horizontale {
    list-decoration: none;
}

.liste-horizontale-item {
    display: inline-block;
    float: right;
    margin: 0 10px;
}

a {
    text-decoration: none;
}

#inscription-header {
    margin-top: -9px;
}

#main {
    padding: 30px;
}
