/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *
 */

@font-face {  
    font-family: 'titre';  
    src: url('/assets/OratorStd.ttf'); 
}

@font-face {  
    font-family: 'orator';  
    src: url('/assets/OratorStd.ttf'); 
}

body {
    margin: 0px;
    margin-top: 60px;
    background-color: #A9A9A9;
}

#contenu-principal {
    width: 100%;
    min-height: 400px;
}

header#barre-navigation {
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    
    color: white;
    background: linear-gradient(white, #A9A9A9);

    z-index: 1;
}

#titre-header {
    margin: 10px;
}

#titre-header img {
    height: 40px;
    margin-left: 7%;
    float: left;
}

.menu {
    float: right;
}

.menu a {
    margin-top: 10px;
    padding: 15px;
    color: white;
    text-decoration: none;
}

#navigation {
    margin-right: 3%;
    float: right;
}

ul {
    list-style-type: none;
}

#navigation li {
    display: inline-block;
    color: black;
    border-left: 1px solid black;
}

#navigation ul li:last-child {
    border: none;
}

footer {
    width: 100%;
    clear: both;
}

h1 {
    text-align: center;


}

.citation-majeure::before {
    content: "« ";
}

.citation-majeure::after {
    content: " »";
}

.citation-majeure {
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
    font-style: italic;
}

#facebook {
    position: absolute;
    bottom: 25px;
    left: 46%;
    height: 20px;
}

#instagram {
    position: absolute;
    bottom: 25px;
    left: 50%;
    height: 20px;
}

#twitter {
    position: absolute;
    bottom: 25px;
    left: 54%;
    height: 20px;
}

