$hauteur-contenu: 500px;

#contenu-evenement {
    padding: 10px;
}

#informations-evenement {
    position: relative;
    float: left;

    width: 50%;
    height: $hauteur-contenu;
}

#imagerie-evenement {
    position: relative;
    float: right;

    width: 50%;
    height: $hauteur-contenu;
}

#image-evenement {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}
