$hauter-image-entete: 300px;
$demie-hauteur-image: 100px;
$padding-section: 20px;
$gris: rgb(245, 245, 245);
$gris-fonce: rgb(145, 145, 145);

#liste-evenements {
    padding: $padding-section;
}

#entete-evenements {
    margin: 0 20px;
    padding: 10px;
    border-bottom: 1px solid $gris;

    #recherche {
        margin: 20px 0;
        float: right;

        #champ-recherche {
            float: right;
            border-radius: 15px;
        }
    }
}

#filtre-evenements {
    margin: 0 20px;
    padding: 10px;

    border-bottom: 1px solid $gris;

    h3 {
        float: left;
    }

    ul {
        float: left;
        list-style-type: none;
        li {
            display: inlin-block;
            float: left;
            padding: 5px 10px;
        }
    }

    .filtre-categorie {
        background-color: $gris;
        padding: 5px 15px;
        margin: 0 10px;
    }

    .filtre-categorie:hover {
        background-color: $gris-fonce;
    }
}

#themes-evenements {

    padding: 20px;

    display: flex;
    justify-content: space-around;

}

.evenement {

    .container-evenement {
        padding: 20px;
        position: relative;
    }

    .image-evenement {
        position: relative;
        img {
            display: block;
            width: 75%;
            margin: 0 auto;
        }

        .categorie-evenement {
            position: absolute;
            top: 0px;
            right: 15%;
            height: 20px;
            width: 20px;
        }
    }

    .informations-evenement {
        box-shadow: 0 0 10px 5px $gris-fonce;
        border-radius: 15px;
        width: 85%;
        margin: 0 auto;

        .nom-evenement, .description-evenement {
            padding: 15px;
            margin: 0;
        }

        .nom-evenement {
            padding-bottom: 0px;
        }
    }

    .date-evenement {
        text-align: center;
        background-color: $gris;
        border-bottom-left-radius: 15px;
    }

    .heure-evenement {
        text-align: center;
        background-color: $gris-fonce;
        border-bottom-right-radius: 15px;
    }
}

#evenements-prochain-mois {
    margin: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    h2 {
        display: inline;
    }
}


