@import 'variables';

#abonnements-disponibles {
    padding: $padding-section;
    margin: 20px;
}

#abonnement-occasionnel {
}

#abonnement-regulier {
}

#abonnement-entreprise {
}

.forfait {
    height: inherit;
    text-align: center;
    box-shadow: $box-shadow;

    h2 {
        margin: 0;
    }
}

.contenu-forfait {
    padding: 20px;
}

.forfait-grand {
    height: 500px;
}

.forfait-petit {
    margin-top: 50px;
    height: 400px;
    background-color: $gris;
}
