<section id="creativite" class="pure-u-1">
    <h3>Laissez aller votre créativité</h3>
</section>

<section id="description-irisium" class="pure-u-1">
    <h3>Qu'est-ce qu'Irisium?</h3>
    <p>Bla bla bla</p>
    <p><a href="#">Visionner le vidéo</a></p>
</section>

<section id="mission" class="pure-g">
    <h3 class="titre-section pure-u-1">
        <span>Mission</span>
    </h3>
    <div class="pure-u-1 pure-u-md-1-3">
        <h4>Diffusion</h4>
        <p>asfd</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <h4>Communauté</h4>
        <p>asfd</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <h4>Création</h4>
        <p>asfd</p>
    </div>
    <h3 class="titre-section pure-u-1">
        <span>Services</span>
    </h3>
    <div class="pure-u-1 pure-u-md-1-3">
        <h4>Location d'équipement</h4>
        <p>asfd</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <h4>Café / Bar</h4>
        <p>asfd</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <h4>Événements</h4>
        <p>asfd</p>
    </div>
</section>

<section id="inscrivez-vous-maintenant">
    <h3 class="leger">Inscrivez-vous dès maintenant pour en profiter le plus tôt possible</h3>
    <p><a href="<%= new_user_path %>" class="pure-button pure-button-primary">Je m'abonne</a></p>
    <p id="details_inscription"><a href="<%= accueil_a_propos_path %>">En savoir plus</a></p>
</section>

<section id="evenements-futurs" style="background-image: url('<%= image_show_path(@image_evenement) %>'); background-size: cover; background-repeat: no-repeat;">
    <h2>Événements<br>à venir</h2>
    <p><a href="<%= evenements_path %>">Voir tous les événements</a></p>
</section>
