<div id="header">
    <img src="/assets/header_astronaute.png" id="image_header" alt="astronaute_noir_blanc">
    <div id="ancres">
        <p><a href="#a_propos">&Agrave; propos</a></p>
        <p><a href="#inscriptions">Inscriptions</a></p>
        <p><a href="#contact">Contact</a></p>
    </div>
    <h1 id="titre">Irisium</h1>
    <div id="sous-titre">collectif d'artistes</div>
    <div id="ligne_gauche_soustitre"></div>
    <div id="ligne_droite_soustitre"></div>
    <div id="slogan">Un espace de cr&eacute;ation unique &agrave; Sherbrooke</div>
    <img src="/assets/element_graphique1.png" id="element_graphique" alt="element_graphique_pour_esthetique">
</div>
<div id="intercalaire">
    <div id="placement_accroche"></div>
    <div id="accroche">Faites partie du mouvement</div>
</div>
<div id="a_propos">
    <img src="/assets/filets.png" id="filets" alt="filets">
    <div id="placement_qui_sommes_nous"></div>
    <div id="qui_sommes_nous">Qui sommes-nous?</div>
    <div id="activites">
        <p>Irisium</p>
        <p>&Eacute;v&eacute;nements</p>
        <p>Admissibilit&eacute;</p>
        <p>Avantages</p>
    </div>
    <div id="description">
        <p>Irisium c'est un espace de cr&eacute;ation qui a pour but de rassembler les artistes talentueux de diverses disciplines &agrave; Sherbrooke
        </p>
        <p>Chez Irisium, nous voulons aux artistes les outils n&eacute;cessaires pour d&eacute;velopper leurs projets: &eacute;quipement, mat&eacute;riel, "props", formations, etc. Le studio est aussi muni d'un caf&eacute;-bar, d'espaces de travail et d'espaces de relaxation.
    </div>
</div>
<div id="images">
    <div id="background-images"></div>
    <img src="/assets/caroussel1.png" id="caroussel1" class="caroussel" alt="photo">
    <img src="/assets/caroussel1.png" id="caroussel1" class="caroussel" alt="photo">
    <img src="/assets/caroussel1.png" id="caroussel1" class="caroussel" alt="photo">
    <img src="/assets/caroussel1.png" id="caroussel1" class="caroussel" alt="photo">
    <img src="/assets/caroussel1.png" id="caroussel1" class="caroussel" alt="photo">
</div>
<div id="inscriptions">
    <div id="placement_inscriptions"></div>
    <div id="titre_inscriptions">Inscriptions</div>
</div>
<footer id="contact">
    <div id="placement_contact"></div>
    <div id="titre_contact">Contacts</div>
    <div id="emplacement">
        <p class="titre-section">Adresse</p>
        <p class="section">165, RUE WELLINGTON NORD<br>SHERBROOKE (QUEBEC) J1H 5B9</p>
    </div>
    <div id="reseaux">
        <p class="titre-section">Suivez-nous</p>
        <p class="section">Abonnez-vous &agrave; notre <br>infolettre</p>
    </div>
    <div id="responsable">
        <p class="titre-section">Responsable</p>
        <p class="section">Camille Girard<br>819 452-2226<br>camillegirard@studioirisium.com</p>
    </div>
    <img src="/assets/logo_facebook.png" id="facebook" alt="facebook">
    <img src="/assets/logo_instagram.png" id="instagram" alt="instagram">
    <img src="/assets/logo_twitter.png" id="twitter" alt="twitter">
</footer>

